@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins";
}

body {
  display: flex;
  text-align: center;
}

header {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 110px;
  position: fixed;
  background-color: #ffffff;
  z-index: 9;
}
header #photoApp {
  color: #75099b;
  font-weight: 400;
}
header #myPhotos {
  color: #0e71cc;
  font-weight: 400;
}
header #goBackFav {
  color: #a39898;
  text-decoration: none;
  font-size: small;
}

#grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 230px;
}

#searchFilter {
  height: 30px;
  background-color: #e7e7e7;
  width: 240px;
  padding-left: 10px;
  border-radius: 25px;
  margin-bottom: 25px;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 130px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#searchIcon {
  color: #bdb5b5;
  padding-top: 5px;
  background-color: transparent;
  border: none;
}

#order {
  position: fixed;
  z-index: 10;
  top: 180px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a39898;
  margin-bottom: 15px;
  text-decoration: none;
  font-size: small;
  border: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  padding-right: 25px;
  background-image: url(./assets/down-arrow.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 15px;
}
#order option {
  font-size: 10px;
}

.favoritePhoto {
  padding-bottom: 40px;
  margin: 0 50px;
}
.favoritePhoto h2 {
  padding-bottom: 10px;
}

.imgAndButtons {
  position: relative;
  display: flex;
  width: 200px;
  margin-bottom: 180px;
}
.imgAndButtons img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  border-radius: 30px;
  left: -15px;
  width: 220px;
  height: 200px;
}
.imgAndButtons div {
  position: relative;
  width: 110px;
  top: 165px;
  left: 50px;
}
.imgAndButtons .divButtonsHome {
  left: 65px;
}

#buttons {
  color: #ffffff;
  background-color: transparent;
  border: none;
  padding: 0 2px;
}

#data {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 250px;
}

#overlay {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

#modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 80%;
  height: 70%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
}

#cancelModal {
  width: 70px;
  height: 70px;
}

#imageModal {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 1050px;
  border-radius: 30px;
}

#textarea {
  border-style: none;
  border-color: Transparent;
  overflow: hidden;
  width: 60%;
  height: 150px;
  resize: none;
  font-size: 25px;
  font-weight: 600;
}

#saveButton {
  color: #000000;
  background-color: transparent;
  border: none;
  transform: scale(2.8);
  padding: 0 2px;
}

#modalData {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 709px) {
  header {
    padding-bottom: 150px;
  }
  header h1 {
    font-size: 80px;
  }
  header #goBackFav {
    font-size: 30px;
  }
  #grid {
    margin-top: 380px;
  }
  #searchFilter {
    display: flex;
    align-items: center;
    margin-top: 110px;
    height: 50px;
    width: 440px;
    padding-left: 30px;
    margin-bottom: 30px;
  }
  #searchIcon {
    padding-left: 160px;
  }
  #order {
    font-size: larger;
    padding-right: 40px;
    background-size: 25px;
    margin-bottom: 30px;
    margin-top: 130px;
  }
  #data h2 {
    font-size: 30px;
  }
  #data h4 {
    font-size: 20px;
  }
}/*# sourceMappingURL=styles.css.map */